button{
 top: 0;
right: 25%;
}


.hero-header{

background:linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)),  url(../Assets/Images/hero-img.jpg);
background-size: cover;
background-position: center center;
font-family: "Raleway",sans-serif;
}


.splide__slide img {
    width: 100%;
    height: auto;
  }


  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }